In [84]:
import numpy as np
import pandas as pd
import datetime as dt
from datetime import datetime

In [129]:
tra = pd.read_csv('/Users/suzukishinji/kaggle/recluit/air_visit_data.csv')
tes = pd.read_csv('/Users/suzukishinji/kaggle/recluit/sample_submission-3.csv')

In [130]:
print(tra.shape)
print(tes.shape)

(252108, 3)
(32019, 2)

In [114]:
tra['visit_date'] = pd.to_datetime(tra['visit_date'])
tra['visit_date'] = pd.to_datetime(tra['visit_date'])
tra['dow'] = tra['visit_date'].dt.dayofweek
tra['year'] = tra['visit_date'].dt.year
tra['month'] = tra['visit_date'].dt.month
tra['visit_date'] = tra['visit_date'].dt.date

tes['visit_date'] = tes['id'].map(lambda x: str(x).split('_')[2])
tes['air_store_id'] = tes['id'].map(lambda x: '_'.join(x.split('_')[:2]))
tes['visit_date'] = pd.to_datetime(tes['visit_date'])
tes['dow'] = tes['visit_date'].dt.dayofweek
tes['year'] = tes['visit_date'].dt.year
tes['month'] = tes['visit_date'].dt.month
tes['visit_date'] = tes['visit_date'].dt.date

In [115]:
combine = [tra, tes]
gw_list = ['2016-04-23','2016-04-24','2016-04-25','2016-04-26','2016-04-27','2016-04-28','2016-04-29','2016-04-30','2016-04-23','2016-05-01','2016-05-02','2016-05-03','2016-05-04','2016-05-05','2016-05-06','2016-05-07','2016-05-08','2016-05-09','2016-05-10','2016-05-11','2016-05-12','2016-05-13','2016-05-14','2016-05-15','2017-04-22','2017-04-23','2017-04-24','2017-04-25','2017-04-26','2017-04-27','2017-04-28','2017-04-29','2017-04-30','2017-05-01','2017-05-02','2017-05-03','2017-05-04','2017-05-05','2017-05-06','2017-05-07','2017-05-08','2017-05-09','2017-05-10','2017-05-11','2017-05-12','2017-05-13','2017-05-14']
tra['gw_flg'] = 0
tes['gw_flg'] = 0
update_gw_list = [["0" for i in range(3)] for j in range(len(gw_list))]

In [116]:
from datetime import date
for index, gw_date in enumerate(gw_list):
    temp_list = gw_date.split("-")
    for col_i, temp_figure in enumerate(temp_list):
        update_gw_list[index][col_i]=int(temp_figure)
        
    #print("{}  {}  {}".format(update_list[index][0],update_list[index][1],update_list[index][2]))

for dataset in combine:
    for index in range(len(update_gw_list)):
        dataset.loc[dataset.visit_date == date(update_gw_list[index][0],update_gw_list[index][1],update_gw_list[index][2]), 'gw_flg'] = 1

In [117]:
print(tra.head())
tes.head()

           air_store_id  visit_date  visitors  dow  year  month  gw_flg
0  air_ba937bf13d40fb24  2016-01-13        25    2  2016      1       0
1  air_ba937bf13d40fb24  2016-01-14        32    3  2016      1       0
2  air_ba937bf13d40fb24  2016-01-15        29    4  2016      1       0
3  air_ba937bf13d40fb24  2016-01-16        22    5  2016      1       0
4  air_ba937bf13d40fb24  2016-01-18         6    0  2016      1       0

,id,visitors,visit_date,air_store_id,dow,year,month,gw_flg
0,air_00a91d42b08b08d9_2017-04-23,0,2017-04-23,air_00a91d42b08b08d9,6,2017,4,1
1,air_00a91d42b08b08d9_2017-04-24,0,2017-04-24,air_00a91d42b08b08d9,0,2017,4,1
2,air_00a91d42b08b08d9_2017-04-25,0,2017-04-25,air_00a91d42b08b08d9,1,2017,4,1
3,air_00a91d42b08b08d9_2017-04-26,0,2017-04-26,air_00a91d42b08b08d9,2,2017,4,1
4,air_00a91d42b08b08d9_2017-04-27,0,2017-04-27,air_00a91d42b08b08d9,3,2017,4,1

In [118]:
tra_gw = tra[tra['gw_flg'] == 1]
tra = tra[tra['gw_flg'] == 0]

tes_gw = tes[tes['gw_flg'] == 1]
tes = tes[tes['gw_flg'] == 0]

In [119]:
tes_gw.describe()

       visitors       dow      year     month    gw_flg
count 18062.000 18062.000 18062.000 18062.000 18062.000
mean      0.000     3.136  2017.000     4.636     1.000
std       0.000     2.052     0.000     0.481     0.000
min       0.000     0.000  2017.000     4.000     1.000
25%       0.000     1.000  2017.000     4.000     1.000
50%       0.000     3.000  2017.000     5.000     1.000
75%       0.000     5.000  2017.000     5.000     1.000
max       0.000     6.000  2017.000     5.000     1.000

In [120]:
year_2016 = tra[tra['year'] == 2016]
month_1 = year_2016[year_2016['month'] == 1]
month_2 = year_2016[year_2016['month'] == 2]
month_3 = year_2016[year_2016['month'] == 3]
month_4 = year_2016[year_2016['month'] == 4]
month_5 = year_2016[year_2016['month'] == 5]
month_6 = year_2016[year_2016['month'] == 6]
tra_store_316_6 = pd.concat([month_1,month_2,month_3,month_4,month_5,month_6])

In [121]:
id = list(tra_store_316_6['air_store_id'].values.flatten())

In [122]:
tra_store_316_all = tra[tra['air_store_id'].isin(id)]
tra_store_513 = tra[~tra['air_store_id'].isin(id)]
#data[data['a'].isin([1,2])]

In [123]:
tes_store_316 = tes[tes['air_store_id'].isin(id)]
tes_store_513 = tes[~tes['air_store_id'].isin(id)]

In [124]:
tra_store_513_316 = pd.concat([tra_store_316_6, tra_store_513])

In [125]:
tra_store_316_6.head()

           air_store_id  visit_date  visitors  dow  year  month  gw_flg
0  air_ba937bf13d40fb24  2016-01-13        25    2  2016      1       0
1  air_ba937bf13d40fb24  2016-01-14        32    3  2016      1       0
2  air_ba937bf13d40fb24  2016-01-15        29    4  2016      1       0
3  air_ba937bf13d40fb24  2016-01-16        22    5  2016      1       0
4  air_ba937bf13d40fb24  2016-01-18         6    0  2016      1       0

In [126]:
tra_store_316_6[['air_store_id', 'visit_date','visitors']].to_csv('tra_store_316_6.csv', index = False)
tra_store_316_all[['air_store_id', 'visit_date','visitors']].to_csv('tra_store_316_all.csv', index = False)
tra_store_513_316[['air_store_id', 'visit_date','visitors']].to_csv('tra_store_513.csv', index = False)
tra_gw[['air_store_id', 'visit_date','visitors']].to_csv('tra_gw.csv', index = False)

tes_store_316[['id','visitors']].to_csv('tes_store_316.csv', index = False)
tes_store_513[['id','visitors']].to_csv('tes_store_513.csv', index = False)
tes_gw[['id','visitors']].to_csv('tes_gw.csv', index = False)

In [132]:
tra_316_6 = pd.read_csv('/Users/suzukishinji/kaggle/recluit/tra_store_316_6.csv')
tra_316_all = pd.read_csv('/Users/suzukishinji/kaggle/recluit/tra_store_316_all.csv')
tra_513 = pd.read_csv('/Users/suzukishinji/kaggle/recluit/tra_store_513.csv')
tra_gw = pd.read_csv('/Users/suzukishinji/kaggle/recluit/tra_gw.csv')
tes_316 = pd.read_csv('/Users/suzukishinji/kaggle/recluit/tes_store_316.csv')
tes_513 = pd.read_csv('/Users/suzukishinji/kaggle/recluit/tes_store_513.csv')
tes_gw = pd.read_csv('/Users/suzukishinji/kaggle/recluit/tes_gw.csv')

In [133]:
print(tra.shape)
print(tra_316_6.shape)
print(tra_316_all.shape)
print(tra_513.shape)
print(tra_gw.shape)
print()
tra_513_316 = pd.concat([tra_316_6, tra_513])
print(tra_513_316.shape)
print()
print(tes.shape)
print(tes_316.shape)
print(tes_513.shape)
print(tes_gw.shape)

(252108, 3)
(41680, 3)
(120382, 3)
(124933, 3)
(6793, 3)

(166613, 3)

(32019, 2)
(5321, 2)
(8636, 2)
(18062, 2)

In [138]:
tra = pd.read_csv('/Users/suzukishinji/kaggle/recluit/air_visit_data.csv')
tra['visit_date'] = pd.to_datetime(tra['visit_date'])
tra['visit_date'] = pd.to_datetime(tra['visit_date'])
tra['dow'] = tra['visit_date'].dt.dayofweek
tra['year'] = tra['visit_date'].dt.year
tra['month'] = tra['visit_date'].dt.month
tra['visit_date'] = tra['visit_date'].dt.date

In [139]:
tra_s = tra.sort_values(['visit_date'])
tra_s.head()

                air_store_id  visit_date  visitors  dow  year  month
189299  air_fab092c35776a9b1  2016-01-01        19    4  2016      1
200675  air_f26f36ec4dc5adb0  2016-01-01        64    4  2016      1
213541  air_d97dabf7aae60da5  2016-01-01       102    4  2016      1
161915  air_39dccf7df20b1c6a  2016-01-01        55    4  2016      1
142213  air_79f528087f49df06  2016-01-01        42    4  2016      1

In [140]:
tra_s.tail()

                air_store_id  visit_date  visitors  dow  year  month
86756   air_6a15e4eae523189d  2017-04-22        12    5  2017      4
86990   air_bf13014b6e3e60ca  2017-04-22        49    5  2017      4
87238   air_c52c63c781fe48f6  2017-04-22        41    5  2017      4
80983   air_59cc9b2b209c6331  2017-04-22        12    5  2017      4
252107  air_24e8414b9b07decb  2017-04-22         5    5  2017      4